.logo{
  margin-right: 24px;
  padding: 8px;
  background-color: #EB966A26;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 16px;
}
.svg{
  display: flex;
  align-items: center;
  justify-content: center;
}
