.wrapper{
  display: flex;
  gap: 32px;
  position: relative;
  border-bottom: 1px solid #393C49;
}
.line {
  position: absolute;
  left: -1.5px;
  bottom: -2.5px;
  content: '';
  width: 37px;
  height: 3px;
  background-color: var(--colors-ui-accent);
  border-radius: 5px;
  transition: all 240ms ease;
}