.button{
  padding: 13px;
  border: 1px solid transparent;
  border-radius: var(--radius);
  outline: 1px solid transparent;
  box-shadow: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  font-family: var(--famyli);
  font-weight: var(--fw-medium);
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.24s  ease;
  &:hover{
    box-shadow: 1px 2px 20px 0px rgba(var(--colors-ui-accent-rgb), 0.26);
  }
  &:active{
    box-shadow: 1px 2px 20px 0px rgba(var(--colors-ui-accent-rgb), 0.60);
  }
}
.solid{
  background-color: var(--colors-ui-accent);
  box-shadow: 0px 8px 24px transparent;
  color: #FAFAFA;
  fill: var(--colors-text-white);
  stroke: var(--colors-text-white);
  &:hover{
    border: 1px solid var(--colors-text-white);
  }
  &:focus{
    border: 1px solid var(--colors-text-white);
  }
  &:active{
    outline: 1.4px solid var(--colors-text-white);
  }
}
.outline{
  border: 1px solid var(--colors-ui-accent);
  color: var(--colors-ui-accent);
  fill: var(--colors-ui-accent);
  stroke: var(--colors-ui-accent);
  &:active {
    outline: 1.4px solid var(--colors-ui-accent)
  }
  &:focus{
    border: 1px solid var(--colors-ui-accent);
  }
}
.shadow{
  box-shadow: var(--shadow);
  &:hover{
    box-shadow: var(--shadow);
  }
}