.h1{
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
}
.h2{
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}
.dark{
  color: var(--clr-text-dark);
}
.gray{
  color: var(--clr-text-gray); 
}
.ligth{
  color: var(--clr-text-ligth);
}
.white{
  color: var(--clr-text-white);
}