.large{
  font-size: 16px;
  line-height: 140%;
}
.normall{
  font-size: 14px;
  line-height: 140%;
}
.small{
  font-size: 12px;
  line-height: 140%;
}
.semibold{
  font-weight: 600;
}
.medium{
  font-weight: 500;
}
.regular{
  font-weight: 400;
}
.dark{
  color: var(--clr-text-dark);
}
.gray{
  color: var(--clr-text-gray); 
}
.ligth{
  color: var(--clr-text-ligth);
}
.white{
  color: var(--clr-text-white);
}